:root {
    --main-bg-color: #1e1e1e;
    --supplement-color: #a9bcd0;
    --highlight-color: #424c55;
    --main-txt-color: #e2e2e2;
    --heading-txt-color: #9cdcfe;
    --extra-color: #b38cb4;
}

body,
html {
    height: 100%;
    margin: 0%;
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
}

h1 {
    color: var(--heading-txt-color);
}

#nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: right;
}

#nav li a {
    display: block;
    color: #74bec3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: var(--highlight-color);
}

#header {}

#portfoli {}

#skills {}

#experience {}

#education {}

#footer {
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
}

#copyright {
    float: left;
}

#social-Links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 50%;
    overflow: hidden;
}

#social-Links li {
    float: left;
}

#social-Links li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.fa {
    font-size: 10vw;
    color: #e2e2e2;
    text-decoration: none;
}

.fa-facebook:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-stack-overflow:hover,
.fa-arrow-circle-o-up:hover {
    color: #73bec4;
}