:root {
--main-bg-color:#1e1e1e;
--supplement-color:#a9bcd0;
--highlight-color:#424c55;
--main-txt-color: #e2e2e2;
--heading-txt-color:#9cdcfe;
--extra-color:#b38cb4;
}


body, html {
    height: 100%;
    margin: 0%;
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
  }

  h1{
    color: var(--heading-txt-color);
  }